{% extends "WowbileBackendBundle::index.html.twig" %}

{% block content_title %}
{{ 'Screenshots' | trans }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='cssrewrite'
    'bundles/wowbilebackend/css/screenshots.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
{% endstylesheets %}
{% endblock %}

{% block content_body %}
{% if entities %}

{% include 'WowbileBackendBundle::_pagination.html.twig' with {'route': 'backend_screenshot_list', 'pager': pager} %}

<ul class="screenshots">
{% for screenshot in entities %}
<li class="screenshot_wrapper">
<a href="{{ path('backend_screenshot_delete',{'id':screenshot.id}) }}" class="delete">
{{ 'delete' | trans }}
</a>
<a href="{{ path('backend_screenshot_edit',{'id':screenshot.id}) }}">
<img src="{{ screenshot.image('item').uri }}"/>
</a>
</li>
{% endfor %}
</ul>

{% else %}

<p>{{ 'No screenshots found.' | trans }}</p>

{% endif %}

<ul id="entity_list_actions">
    <li><a href="{{ path('backend_screenshot_new') }}">{{ 'Add new Screenshot' | trans }}</a></li>
    <li><a href="{{ path('backend_platform_index') }}">{{ 'Manage platforms' | trans }}</a></li>
</ul>

<script type="text/javascript">
$(document).ready(function(){
    $('.delete').click(function(){
        return confirm({{ 'Are your sure you want to delete this screenshot?' | trans | json_encode | raw}});
    });
});
</script>

{% endblock %}
