{% extends "WowbileBackendBundle::layout.html.twig" %}
{% form_theme form 'WowbileBackendBundle:Form:fields.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/wowbilefrontend/js/jquery.ui.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/wowbilefrontend/css/jqueryui_theme/jquery.ui.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block content %}

<h1>{% spaceless %}{% block form_title %}
{% endblock %}{% endspaceless %}</h1>

<form method="post" class="entity" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {% if form.translations is defined %}
    {% set trans_prefix = 'entity_translation_' %}
    <div id="entity_translation_tabs" style="display: none;">
        <ul>
        {% for trans in form.translations %}
            {% set locale = trans.get('value').locale %}
            <li><a href="#{{ trans_prefix ~ locale }}">
                {{ locale_helper.name(locale) }}
            </a></li>
        {% endfor %}
        </ul>
        {% for trans in form.translations %}
        {% set locale = trans.get('value').locale %}
        <div class="translation" id="{{ trans_prefix ~ locale }}">
            {% block form_translation %}
            {{ form_widget(trans) }}
            {% endblock %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block form_rest %}
    {{ form_rest(form) }}
    {% endblock %}

    <div class="form_submit_row">
        {% block form_submit %}
        <input type="submit" value="{{ 'Save' | trans }}"/>
        {% endblock %}
    </div>
</form>

<script type="text/javascript">
$(document).ready(function(){
    $('#entity_translation_tabs').tabs().show();
});
</script>

{% endblock %}
