{% extends "WowbileFrontendBundle::layout.html.twig" %}

{% block title %}
{{ parent() }} - {{ 'Wöwkipedia' | trans }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/wowbilefrontend/js/jquery.wowkipedia.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        'bundles/wowbilefrontend/css/wowkipedia.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block content %}

<div id="wowkipedia_header">
	<img class="logo" src="{{ asset('bundles/wowbilefrontend/images/logo_wowkipedia.png') }}"/>
	
	<div class="description">
		{% if locale_helper.code == "es" %}
		<p>Queremos que la wöwkipedia sea el glosario más completo y extenso sobre marketing móvil...
		¿nos quieres ayudar? Envía tus propuestas vía <a href="http://twitter.com">twitter</a> a <a href="http://www.twitter.com/#!/wowbile">@wowbile</a>
		con tu definición añadiendo la etiqueta <a href="http://twitter.com/#!/search/realtime/%23wowkipedia">#wowkipedia</a>. ¡Gracias!</p>
		{% endif %}
	</div>
</div>

<ul id="letters">
{% for letter in letters %}
<li><a href="#{{ letter }}">{{ letter | upper }}{{ letter }}</a></li>
{% endfor %}
</ul>

<div class="groups">
	{% for letter,subentries in entries %}
	<div class="group" style="display: none;">
		<a name="{{ letter }}"></a>
		<div class="letter">{{ letter ~ "!" | wowbilify }}</div>
		<div class="columns">
			{% for column in subentries %}
			<div class="column">
				{% for entry in column %}
{% include 'WowbileFrontendBundle:Wowkipedia:_show.html.twig' with {'entry': entry} %}
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
	<div class="group flash_info" id="empty_group" style="display: none;">
		<p>{{ 'This letter has no defined terms.' | trans }}</p>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#letters a').wowkipedia();
});
</script>

{% endblock %}