{% extends "WowbileBackendBundle::form.html.twig" %}

{% block form_title %}
{% if entity.id %}
{{ 'Editing Link' | trans }}
{% else %}
{{ 'New Link' | trans }}
{% endif %}
{% endblock %}

{% block form_translation %}
    {{ form_row(trans.name, {'attr':{'size':40}}) }}
    <div class="form_row">
    {{ form_widget(trans.description, {'attr':{'class':'tinymce','rows':10,'cols':50}}) }}
    </div>
    {{ form_rest(trans) }}
{% endblock %}

{% block form_rest %}
	{{ form_row(form.url,{'attr':{'size':40}}) }}
	<div class="form_row">
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        {% if entity.image.uri %}
        <div class="form_row_comment">
            <img src="{{ entity.image.uri }}"/>
        </div>
        {% endif %}
        {{ form_errors(form.image) }}
    </div>
	{{ form_rest(form) }}
{% endblock %}
