{% extends "WowbileMobileBundle::layout.html.twig" %}

{% block header %}
<h1>{{ 'What do we do?' | trans }} - {{ concept.name }}</h1>
{{ parent() }}
{% endblock %}

{% block content %}

<h2>{{ concept.name }}</h2>

<div class="description">
{{ concept.description | raw }}
</div>
 
{% endblock %}