<div id="followus">
{{ 'follow us!' | trans }}
<ul>
<li><a href="{{ frontend_helper.facebookUrl }}">
<img src="{{ asset('bundles/wowbilefrontend/images/btn_facebook.png') }}"/>
</a></li>
<li><a href="{{ frontend_helper.twitterUrl }}">
<img src="{{ asset('bundles/wowbilefrontend/images/btn_twitter.png') }}"/>
</a></li>
<li><a href="{{ frontend_helper.slideshareUrl }}">
<img src="{{ asset('bundles/wowbilefrontend/images/btn_slideshare.png') }}"/>
</a></li>
</ul>
</div>