{% extends "WowbileFrontendBundle::layout.html.twig" %}

{% block title %}
{{ parent() }}
-
{{ 'Who are we?' | trans }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='cssrewrite'
        'bundles/wowbilefrontend/css/who.css'
    %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css"
	media="all" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/wowbilefrontend/js/jquery.ui.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}


{% block content %}

<div class="person" id="dguzman">
	<h2>Dionis Guzman</h2>
	
	<div class="excerpt">
	<p>Los últimos años como Brand Manager en Samsung Mobile me acabaron de convencer
	sobre el potencial de márketing mobil como un nuevo factor clave y revolucionario
	en el márketing digital.</p>
	</div>
	
	<img src="{{ asset('bundles/wowbilefrontend/images/btn_moreinfo.png') }}" class="more"/>
	
	<dl class="info">
		<dt>@!</dt>
		<dd>{{ 'dionis@wowbile.eu' | mailto | raw }}</dd>
		<dt>m!</dt>
		<dd>{{ '+34 633 666 666' | callto | raw }}</dd>
	</dl>
</div>

<div class="popup" id="dguzman_popup" style="display: none">
	<div class="close"></div>
	<div class="content">
		<h2>Dionis Guzman</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
			ullamcorper nisi ultricies ante dignissim dictum. Curabitur molestie
			ullamcorper aliquet. Praesent ut consequat dui. Pellentesque bibendum
			leo a velit pulvinar ut facilisis nibh ornare. Fusce viverra rhoncus
			suscipit. Maecenas quis nulla a arcu vehicula cursus. Etiam porta ante
			et lectus laoreet faucibus dapibus lorem pharetra. Morbi vitae
			ultricies dolor. Fusce vehicula euismod lorem ac viverra. Aenean
			aliquam hendrerit nunc. Vestibulum faucibus mollis justo sed
			consectetur. Curabitur justo arcu, tincidunt id fermentum sit amet,
			malesuada non dui. Pellentesque lacinia condimentum tristique. Etiam
			tristique adipiscing massa ut porta. Nullam bibendum eros et nisi
			ultricies feugiat. Integer vel nibh ac ligula vulputate pellentesque.</p>
			
		<p>Aenean semper hendrerit libero, quis elementum quam commodo eu. Aenean
			id tellus dolor, vel eleifend orci. Nulla facilisi. Cras elit urna,
			tincidunt in porttitor fermentum, sagittis blandit arcu. Vestibulum
			facilisis, turpis ac dapibus condimentum, arcu nibh fermentum neque,
			eu aliquet magna metus rhoncus magna. Maecenas lobortis rhoncus mauris
			nec mollis. Vivamus vestibulum tellus vitae tortor gravida vel pretium
			velit convallis. Nulla placerat erat sed metus pulvinar posuere. Proin
			pulvinar neque accumsan mi tincidunt vestibulum pharetra lacus
			scelerisque.</p>
			
		<p>Suspendisse lobortis fermentum mi, ut tincidunt nibh
			posuere et. Fusce feugiat aliquet interdum. Nulla facilisi. In mollis,
			neque vel imperdiet tempus, enim nulla sollicitudin metus, sit amet
			posuere quam ligula sit amet augue. Mauris mi tellus, suscipit eget
			scelerisque ut, consequat ac tellus. Nunc porttitor blandit velit at
			feugiat. Vivamus ac eros in urna aliquet placerat viverra non ligula.
			Sed magna leo, euismod sed mattis quis, consectetur ac augue. Nullam
			hendrerit sodales rhoncus. Nam a orci dolor.</p>
	</div>
</div>

<div class="person" id="ftellez">
	<h2>Francisco Téllez</h2>
	
	<div class="excerpt">
	<p>Todo empezo con un ordenador de 8 bits a los 14 años, entonces programar videojuegos se convirtió en
	mi hobby y pasión que marcarían mi trayectoria profesional.</p>
	</div>
	
	<img src="{{ asset('bundles/wowbilefrontend/images/btn_moreinfo.png') }}" class="more"/>
	
	<dl class="info">
		<dt>@!</dt>
		<dd>{{ 'fran@wowbile.eu' | mailto | raw }}</dd>
		<dt>m!</dt>
		<dd>{{ '+34 633 666 666' | callto | raw }}</dd>
	</dl>
</div>

<div class="popup" id="ftellez_popup" style="display: none">
	<div class="close"></div>
	<div class="content">
		<h2>Francisco Téllez</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
			ullamcorper nisi ultricies ante dignissim dictum. Curabitur molestie
			ullamcorper aliquet. Praesent ut consequat dui. Pellentesque bibendum
			leo a velit pulvinar ut facilisis nibh ornare. Fusce viverra rhoncus
			suscipit. Maecenas quis nulla a arcu vehicula cursus. Etiam porta ante
			et lectus laoreet faucibus dapibus lorem pharetra. Morbi vitae
			ultricies dolor. Fusce vehicula euismod lorem ac viverra. Aenean
			aliquam hendrerit nunc. Vestibulum faucibus mollis justo sed
			consectetur. Curabitur justo arcu, tincidunt id fermentum sit amet,
			malesuada non dui. Pellentesque lacinia condimentum tristique. Etiam
			tristique adipiscing massa ut porta. Nullam bibendum eros et nisi
			ultricies feugiat. Integer vel nibh ac ligula vulputate pellentesque.</p>
			
		<p>Aenean semper hendrerit libero, quis elementum quam commodo eu. Aenean
			id tellus dolor, vel eleifend orci. Nulla facilisi. Cras elit urna,
			tincidunt in porttitor fermentum, sagittis blandit arcu. Vestibulum
			facilisis, turpis ac dapibus condimentum, arcu nibh fermentum neque,
			eu aliquet magna metus rhoncus magna. Maecenas lobortis rhoncus mauris
			nec mollis. Vivamus vestibulum tellus vitae tortor gravida vel pretium
			velit convallis. Nulla placerat erat sed metus pulvinar posuere. Proin
			pulvinar neque accumsan mi tincidunt vestibulum pharetra lacus
			scelerisque.</p>
			
		<p>Suspendisse lobortis fermentum mi, ut tincidunt nibh
			posuere et. Fusce feugiat aliquet interdum. Nulla facilisi. In mollis,
			neque vel imperdiet tempus, enim nulla sollicitudin metus, sit amet
			posuere quam ligula sit amet augue. Mauris mi tellus, suscipit eget
			scelerisque ut, consequat ac tellus. Nunc porttitor blandit velit at
			feugiat. Vivamus ac eros in urna aliquet placerat viverra non ligula.
			Sed magna leo, euismod sed mattis quis, consectetur ac augue. Nullam
			hendrerit sodales rhoncus. Nam a orci dolor.</p>
	</div>
</div>

<div class="person" id="tgarcia">
	<h2>Toni García</h2>
	
	<div class="excerpt">
	<p>Portalmix.com, el portal de entretenimiento del grupo Gestmusic-Endemol me sirvió para
	marcar<br/> un antes y un después en el potencial de<br/> Internet y las<br/> nuevas tecnologías.</p>
	</div>
	
	<img src="{{ asset('bundles/wowbilefrontend/images/btn_moreinfo.png') }}" class="more"/>
	
	<dl class="info">
		<dt>@!</dt>
		<dd>{{ 'toni@wowbile.eu' | mailto | raw }}</dd>
		<dt>m!</dt>
		<dd>{{ '+34 633 666 666' | callto | raw }}</dd>
	</dl>
</div>

<div class="popup" id="tgarcia_popup" style="display: none">
	<div class="close"></div>
	<div class="content">
		<h2>Toni García</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
			ullamcorper nisi ultricies ante dignissim dictum. Curabitur molestie
			ullamcorper aliquet. Praesent ut consequat dui. Pellentesque bibendum
			leo a velit pulvinar ut facilisis nibh ornare. Fusce viverra rhoncus
			suscipit. Maecenas quis nulla a arcu vehicula cursus. Etiam porta ante
			et lectus laoreet faucibus dapibus lorem pharetra. Morbi vitae
			ultricies dolor. Fusce vehicula euismod lorem ac viverra. Aenean
			aliquam hendrerit nunc. Vestibulum faucibus mollis justo sed
			consectetur. Curabitur justo arcu, tincidunt id fermentum sit amet,
			malesuada non dui. Pellentesque lacinia condimentum tristique. Etiam
			tristique adipiscing massa ut porta. Nullam bibendum eros et nisi
			ultricies feugiat. Integer vel nibh ac ligula vulputate pellentesque.</p>
			
		<p>Aenean semper hendrerit libero, quis elementum quam commodo eu. Aenean
			id tellus dolor, vel eleifend orci. Nulla facilisi. Cras elit urna,
			tincidunt in porttitor fermentum, sagittis blandit arcu. Vestibulum
			facilisis, turpis ac dapibus condimentum, arcu nibh fermentum neque,
			eu aliquet magna metus rhoncus magna. Maecenas lobortis rhoncus mauris
			nec mollis. Vivamus vestibulum tellus vitae tortor gravida vel pretium
			velit convallis. Nulla placerat erat sed metus pulvinar posuere. Proin
			pulvinar neque accumsan mi tincidunt vestibulum pharetra lacus
			scelerisque.</p>
			
		<p>Suspendisse lobortis fermentum mi, ut tincidunt nibh
			posuere et. Fusce feugiat aliquet interdum. Nulla facilisi. In mollis,
			neque vel imperdiet tempus, enim nulla sollicitudin metus, sit amet
			posuere quam ligula sit amet augue. Mauris mi tellus, suscipit eget
			scelerisque ut, consequat ac tellus. Nunc porttitor blandit velit at
			feugiat. Vivamus ac eros in urna aliquet placerat viverra non ligula.
			Sed magna leo, euismod sed mattis quis, consectetur ac augue. Nullam
			hendrerit sodales rhoncus. Nam a orci dolor.</p>
	</div>
</div>



<script type="text/javascript">
$(document).ready(function(){
	$('.popup').draggable().each(function(){
		var popup = $(this);
		popup.children('.close').click(function(){
			popup.fadeOut();
		});
	});
	$('.more').click(function(){
		var more = $(this);
		var id = more.closest('.person').attr('id');
		var popup = $('#'+id+'_popup');
		popup.css('left', more.offset().left);
		popup.fadeIn();
	});
});
</script>

{% endblock %}
