{% extends "WowbileFrontendBundle::layout.html.twig" %}

{% block title %}
{{ parent() }}
-
{{ 'Who are we?' | trans }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='cssrewrite'
        'bundles/wowbilefrontend/css/who.css'
    %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css"
	media="all" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/wowbilefrontend/js/jquery.ui.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}


{% block content %}

<div class="person" id="dguzman">
	<h2>Dionis Guzman</h2>
	
	<div class="excerpt">
	<p>Los últimos años como Brand Manager en Samsung Mobile me acabaron de convencer
	sobre el potencial de márketing mobil como un nuevo factor clave y revolucionario
	en el márketing digital.</p>
	</div>
	
	<img src="{{ asset('bundles/wowbilefrontend/images/btn_moreinfo.png') }}" class="more"/>
	
	<dl class="info">
		<dt>@!</dt>
		<dd>{{ 'dionis@wowbile.eu' | mailto | raw }}</dd>
		<dt>m!</dt>
		<dd>{{ '+34 668 818 238' | callto | raw }}</dd>
	</dl>
</div>

<div class="popup" id="dguzman_popup" style="display: none">
	<div class="close"></div>
	<div class="content">
		<h2>Dionis Guzman</h2>
		<p>La combinación de comunicación, marketing y tecnología siempre ha sido la fórmula
		en la que me he sentido más cómodo a nivel profesional en empresas de tecnología como
		ASUS o BenQ o en editoriales como Grupo Zeta.</p>
		<p>La pasión por la comunicación me licenció en publicidad y relaciones públicas en la
		<acronym title="Universidad Autónoma de Barcelona">UAB</acronym>  y la parte de tecnología la complementé en
		La Salle (Master en Diseño de Contenidos Multimedia) y en el
		<acronym title=" Instituto Superior para el Desarrollo de Internet">ISDI</acronym> con un 
		<acronym title="Master en Internet Business">MIB</acronym>.</p> 
	</div>
</div>

<div class="person" id="ftellez">
	<h2>Francisco Téllez</h2>
	
	<div class="excerpt">
	<p>Todo empezo con un ordenador de 8 bits a los 14 años, entonces programar videojuegos se convirtió en
	mi hobby y pasión que marcarían mi trayectoria profesional.</p>
	</div>
	
	<img src="{{ asset('bundles/wowbilefrontend/images/btn_moreinfo.png') }}" class="more"/>
	
	<dl class="info">
		<dt>@!</dt>
		<dd>{{ 'fran@wowbile.eu' | mailto | raw }}</dd>
		<dt>m!</dt>
		<dd>{{ '+34 671 080 215' | callto | raw }}</dd>
	</dl>
</div>

<div class="popup" id="ftellez_popup" style="display: none">
	<div class="close"></div>
	<div class="content">
		<h2>Francisco Téllez</h2>
		<p>Tras acabar ingeniería informática en la
		<acronym title="Universidad Politécnica de Cataluña">UPC</acronym> empecé a
		trabajar en Ubisoft España creando videojuegos para PC y
		consolas. Aprendí los secretos de las nuevas tecnologías y
		en poco tiempo pasé a ser jefe de programadores y a
		dirigir proyectos.</p>
		<p>5 años más tarde y con mucha experiencia en el mundo de
		los videjuegos y dirección de equipos dejé Ubisoft para crear
		Kailab de la que hoy en día soy director de producción.</p>
	</div>
</div>

<div class="person" id="tgarcia">
	<h2>Toni García</h2>
	
	<div class="excerpt">
	<p>Portalmix.com, el portal de entretenimiento del grupo Gestmusic-Endemol me sirvió para
	marcar<br/> un antes y un después en el potencial de<br/> Internet y las<br/> nuevas tecnologías.</p>
	</div>
	
	<img src="{{ asset('bundles/wowbilefrontend/images/btn_moreinfo.png') }}" class="more"/>
	
	<dl class="info">
		<dt>@!</dt>
		<dd>{{ 'toni@wowbile.eu' | mailto | raw }}</dd>
		<dt>m!</dt>
		<dd>{{ '+34 671 080 216 ' | callto | raw }}</dd>
	</dl>
</div>

<div class="popup" id="tgarcia_popup" style="display: none">
	<div class="close"></div>
	<div class="content">
		<h2>Toni García</h2>
		<p>Como buen ingeniero informático por la
		<acronym title="Universidad Politécnica de Cataluña">UPC</acronym>
		había que entender mejor qué llevaba a los usuarios a interactuar con una marca
		y sentirla suya, de forma que un master en marketing en <acronym title="Escuela de Alta Dirección y Administración">EADA</acronym>
		ayudó a despertar el marketiniano que había en mí.</p>
		<p>Desde el 2005 dirijo Kailab, un estudio especializado en la
		producción de videojuegos y aplicaciones para terminales portátiles,
		tanto teléfonos como smartphones, consolas o tablets como iPad.</p>
	</div>
</div>



<script type="text/javascript">
$(document).ready(function(){
	$('.popup').draggable().each(function(){
		var popup = $(this);
		popup.children('.close').click(function(){
			popup.fadeOut();
		});
	});
	$('.more').click(function(){
		var more = $(this);
		var person = more.closest('.person');
		var id = person.attr('id');
		var popup = $('#'+id+'_popup');
		popup.css(person.offset());
		popup.fadeIn();
	});
});
</script>

{% endblock %}
