{% extends "WowbileBackendBundle::form.html.twig" %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='cssrewrite'
    'bundles/wowbilebackend/css/screenshots.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/wowbilebackend/js/jquery.screenshots.js'
        'bundles/wowbilebackend/js/jquery.links.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block form_title %}
{% if entity.id %}
{{ 'Editing Customer' | trans }}
{% else %}
{{ 'New Customer' | trans }}
{% endif %}
{% endblock %}

{% block form_translation %}
    {{ form_row(trans.name, {'attr':{'size':40}}) }}
    {{ form_row(trans.excerpt, {'attr':{'cols':40, 'rows':5}}) }}
    <div class="form_row">
    {{ form_widget(trans.description, {'attr':{'class':'tinymce','rows':10,'cols':50}}) }}
    </div>
    <div class="form_row">
        <h3>{{ 'Links' | trans }}</h3>
        {{ form_widget(trans.links, {'attr':{'class':'links'}}) }}
    </div>
    {{ form_rest(trans) }}
{% endblock %}

{% block form_rest %}
	{{ form_row(form.url, {'attr':{'size':40}}) }}
	{{ form_row(form.slug, {'attr':{'size':40}}) }}
	{{ form_row(form.related) }}
	{{ form_row(form.platforms) }}
    <div class="form_row">
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        {% if entity.image.uri %}
        <div class="form_row_comment">
            <img src="{{ entity.image.uri }}"/>
        </div>
        {% endif %}
        {{ form_errors(form.image) }}
    </div>

{{ form_widget(form.screenshots, {'attr':{'class':'screenshots'}}) }}

<script type="text/html" id="screenshots_template">
<div class="form_row">
    <h3>{{ 'Selected screenshots' | trans }}</h3>
    <ul class="selected_screenshots screenshots">
    </ul>
</div>
<div class="form_row">
    <h3>{{ 'Available screenshots' | trans }}</h3>
    <ul class="available_screenshots screenshots">
    </ul>
</div>
</script>

<script type="text/html" id="screenshot_template">
<li class="screenshot_wrapper">
    <img src="__url__" />
</li>
</script>

{{ parent() }}
{% endblock %}

{% block footer %}
{{ parent() }}

<script type="text/javascript">
$(document).ready(function(){
    $('.screenshots').screenshots({
    });
    $('.links').links({
    });
});
</script>
{% endblock %}
