{% extends "WowbileBackendBundle::form.html.twig" %}

{% block form_title %}
{% if entity.id %}
{{ 'Editing Testimony' | trans }}
{% else %}
{{ 'New Testimony' | trans }}
{% endif %}
{% endblock %}

{% block form_translation %}
    <div class="form_row">
    {{ form_widget(trans.description, {'attr':{'class':'tinymce','rows':10,'cols':50}}) }}
    </div>
    {{ form_rest(trans) }}
{% endblock %}


{% block form_rest %}
	{{ form_row(form.name, {'attr':{'size': 30 }}) }}
	{{ form_row(form.url, {'attr':{'size': 30 }}) }}
	{{ form_row(form.company) }}
    <div class="form_row">
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        {% if entity.image.uri %}
        <div class="form_row_comment">
            <img src="{{ entity.image.uri }}"/>
        </div>
        {% endif %}
        {{ form_errors(form.image) }}
    </div>
    {{ parent() }}
{% endblock %}