<div class="customer {{ customer.orientation }}"
{% if hidden is defined %}style="display: none;"{% endif %}	
>
	<a name="{{ customer.slug }}"></a>
	<ul class="screenshots {% if customer.screenshots.count > 1 %}cycle{% endif %}">
	{% for screen in customer.screenshots %}
	<li style="display:{% if loop.first %}block{% else %}none{% endif %};">
	<a href="{{ screen.uri }}" rel="{{ customer.slug }}-screenshots">
		{% if customer.orientation == 'both' %}
		<img src="{{ screen.uri('bigcenter') }}" alt="screenshot"/>
		{% else %}
		<img src="{{ screen.uri('big') }}" alt="screenshot"/>
		{% endif %}
	</a></li>
	{% endfor %}
	</ul>
	{% if customer.image.uri %}
	<div class="image">
	<img src="{{ customer.image.uri }}" alt="{{ customer.name }}"/>
	</div>
	{% endif %}
	<h2 {% if customer.image.uri %}class="withimage"{% endif %}>{{ customer.name }}</h2>
	{% if customer.excerpt %}
	<div class="excerpt {% if customer.image.uri %}withimage{% endif %}">
	{{ customer.excerpt }}
	</div>
	{% endif %}
	<div class="content">
		<blockquote>
			{{ customer.description | raw }}
		</blockquote>
	</div>
	{% if customer.links.count %}
	<div class="links">
	<h3>{{ 'Related links' | trans }}</h3>
	<ul>
		{% for link in customer.links %}
		<li><a href="{{ link.url }}">{{ link.title }}</a></li>
		{% endfor %}
	</ul>
	</div>
	{% endif %}
</div>